<div class="container-fluid p-0"
  style="background-image: url('../../../assets/Images-07.png');height: 100vh;background-repeat: no-repeat;background-size: cover;background-position: center;">
  <div class="col content-pos">
    <p class="font-1">
      The Craft alcoholic beverage is a testimony of the fact - we at Feline Spirits
      are passionate about creating something exemplary that’s ingenuous and handcrafted.
      We endeavour to add to the bouquet of Indian, home-grown spirits - a masterpiece
      that will be remembered for time immemorial.<br><br><br>
      <span>What makes us believe in the Art of Craft?</span><br><br>
      <i>For us, Craft is art and art is science<br>
        Our beverages are crafted by artisans in our distillery<br>
        We never shy away from using Real Ingredients<br>
        We believe in being fiercely independent, everything is in our control</i> </p>
  </div>
</div>
