p.heading {
  font-size: 64pt;
  letter-spacing: 1px;
  font-weight: bold;
  color: #808184;
}
p.font {
  font-size: 20px;
}
.border-right {
  border-right: solid 2px;
}
.border-left {
  border-left: solid 2px;
}
@media (max-width: 991px) {
  p.heading {
    font-size: 20pt;
    letter-spacing: 1px;
    font-weight: bold;
    color: #808184;
  }
  p.font {
    font-size: 8px;
  }
}
a {
  text-decoration: none !important;
  color: inherit;
}
