<div class="col" style="background-color: black;">
  <div class="container" style="border-top: solid 2px;padding: 30px 0px;">
    <div class="col p-0">
      <p class="heading">CONTACT US</p>
      <div class="col p-0 d-flex">
        <div class="col-4 p-0 border-right">
          <p class="font">General Queries<br>
            <a href="mailto:contactus@felinespirits.in">contactus@felinespirits.in</a>
            <br><br>
            Investor Queries<br>
            Prabhat Sharma_CEO<br>
            <a href="mailto:prabhat@felinespirits.in">prabhat@felinespirits.in</a>
            <br>
            <a href="tel:+919971507645">+91 9971507645</a></p>
        </div>
        <div class="col-4">
          <p class="font">Business Development<br>
            Rohit Saxena_COO<br>
            <a href="mailto:rohit@felinespirits.in">rohit@felinespirits.in</a>
            <br>
            <a href="tel:+918303622030">+91 8303622030</a><br><br>
            News and Media<br>
            Rahul Jindal_CRO<br>
            <a href="mailto:rahul@felinespirits.in">rahul@felinespirits.in</a>
            <br>
            <a href="tel:+919953035964">+91 9953035964</a>
          </p>
        </div>
        <div class="col-4 border-left">
          <p class="font">Head Office<br>
            157/9 VasantKunj<br>
            New Delhi 110092<br><br>
            Regional Office<br>
            Rohtas Presidential Arcade<br>
            Vibhuti Khand Gomtinagar<br>
            Lucknow<br>
            Uttar Pradesh<br>
        </div>
      </div>
    </div>
  </div>
</div>
