.content-pos {
  position: absolute;
  top: 45%;
  left: 58%;
  width: 25%;
}
ul {
  color: #fff;
}
.font-1 {
  font-weight: 100;
  letter-spacing: 0.6px;
  font-size: 14px;
  color: #4e99fb;
}
.font-3 {
  font-weight: 100;
  letter-spacing: 0.6px;
  font-size: 18px;
  color: #4e99fb;
}
.font-2 {
  font-size: 36px;
  line-height: 1;
  color: #4e99fb;
  letter-spacing: 1.3px;
}
.hs-vutton {
  font-weight: 100;
  letter-spacing: 1.6px;
  font-size: 14px;
  color: #4e99fb;
  background-color: #000;
  border: solid 1px #dbcdae;
  padding: 5px 20px;
}

.hs-vutton:hover {
  font-weight: 100;
  letter-spacing: 1.6px;
  font-size: 14px;
  color: #000;
  background-color: #4e99fb;
  border: solid 1px #dbcdae;
  padding: 5px 20px;
  transition: 0.3s;
}
@media (max-width: 991px) {
  .content-pos {
    position: absolute;
    top: 46%;
    left: 58%;
    width: 40%;
  }
  .font-1 {
    font-weight: 100;
    letter-spacing: 0.6px;
    font-size: 8px;
    line-height: 1.3;
    margin-bottom: 5px;
    color: #4e99fb;
  }
  .font-3 {
    font-weight: 100;
    letter-spacing: 0.6px;
    font-size: 8px;
    line-height: 1.3;
    margin-bottom: 8px;
    color: #4e99fb;
  }
  .font-2 {
    font-size: 14px;
    line-height: 1;
    color: #4e99fb;
    letter-spacing: 1.3px;
    margin-bottom: 5px;
  }
  .hs-vutton {
    font-weight: 100;
    letter-spacing: 1.6px;
    font-size: 8px;
    color: #4e99fb;
    background-color: #000;
    border: solid 1px #dbcdae;
    padding: 5px 20px;
  }

  .hs-vutton:hover {
    font-weight: 100;
    letter-spacing: 1.6px;
    font-size: 8px;
    color: #000;
    background-color: #4e99fb;
    border: solid 1px #dbcdae;
    padding: 5px 20px;
    transition: 0.3s;
  }
}
ul {
  padding: 0;
}
ul ::marker {
  display: none;
}
