<div class="container">
  <div class="col p-0"
    style="background-image: url('../../../assets/Off\ limits.png');height: 100vh;background-repeat: no-repeat;background-size: contain;background-position: center;">
  </div>
  <div class="col content-pos">
    <div class="col">
      <div class="font-1" *ngIf="!readm">
        <p class="font-1">We embrace experience and expertise to carefully layer in a proprietary
          blend of crafted
          ingredients to craft Off Limits. We achieve the flavour by first steeping and then
          vapor-passing the ingredients through the still giving us a clean, natural flavouring.

          <br>
          <span style="    text-transform: uppercase;" class="font-3">The art of <b>bold and the
              sublime </b><br></span>


          A lingering taste on the finish, enchanting to all your senses.</p>
        <p class="font-1">
          <b>Nose</b> - Neutral Alcohol
          <br><b>Palate</b> - Rich, full-bodied and complex
          <br><b>Finish</b>- Smooth and mellow
          <br><b>After Taste</b>- A distinct character of grain
        </p>

        <!-- <button class="hs-vutton" *ngIf="!readm" (click)="readm = !readm">Read More</button> -->
        <p *ngIf="!readm" class="font-1">Off Limits, alone, is a cause for a party and the
          after-after party.

          True to the essence of being <span class="font-3"><i><b>Maturely young.</b></i></span>
        </p>
        <!-- <button class="hs-vutton" *ngIf="readm" (click)="readm = !readm">Read Less</button> -->
      </div>
    </div>
  </div>
