<div class="container-fluid p-0"
  style="background-image: url('https://res.cloudinary.com/skg-projects/image/upload/v1601754939/FCC_igidyz.png');height: 100vh;background-repeat: no-repeat;background-size: cover;background-position: center;">
  <div class="col content-pos">
    <p class="font-1">
      Feline Spirits, an Indian startup in the Craft Alcoholic Beverage portfolio, is committed to
      build premium handcrafted liquor.We believe in transparency in our distilling practices and
      the authenticity of the ingredients distilled. In doing so, what was once a conversation about
      how many times a spirit is distilled and filtered is now a discussion about the quality of
      both the ingredients and fermentation, and what each brings to the final spirit.<br><br>



      It is our belief that every spirit should take the drinker on a journey that extends beyond
      the taste buds into a journey that tastes and feels new, everyday. A startup that’s free
      spirited, committed to what we believe in, and are driven by an adrenaline rush to bring
      handcrafted, craft alcohol to the millennial with a sense of excitement and dexterity that is
      unparalleled and youthful. </p>
  </div>
</div>
