<div class="bg-video-wrap bg-vid">
  <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"
    style="width: 100%;height: 100%;">
    <source src="{{src}}" type="video/mp4">
  </video>
</div>

<div class="col center-pos">
  <img src="../../../assets/Feline spirit logo-02.png">
  <div class="col-12">
    <p>LIFE WELL CRAFTED</p>
  </div>
  <div class="container-fluid d-flex">
    <div class="col-1 d-none d-md-block"></div>
    <p class="col col-md-10 text-center main-text">
      YOU ARE WHO
      YOU ARE NOW AND FOREVER SOMETIMES YOU ARE THE FASHION FORWARD
      OG SOMETIMESTHE CARELESSLY CAREFREE BRUH AND ALMOST EVERY TIME THE FUNNY GUY AF YOU SPIN YOU
      TWIST, TWIRL TWERK, TURN TWITCH, TOGGLE YOU’RE YOUNG AND YOU HAVE A REFINED TASTE YOU ARE NEW,
      EVERYDAY.</p>
  </div>
</div>
<!-- <div class="container-fluid p-0 gradient1" style="margin-top: -70px;">
</div> -->
<div class="scroll-down-container container" style="margin-top: -50px;height: 70px;">
  <div class="chevron"></div>
  <div class="chevron"></div>
  <div class="chevron"></div>
  <p class="text">Scroll down</p>
</div>
<div class="container-fluid p-0 container1">


  <div class="container-fluid d-flex">
    <div class="col-1 d-none d-md-block"></div>
    <p class="col col-md-10 text-center main-text" style="
    padding: 20px 0;
    margin-top: 20px;">
      FELINE SPIRITS FEROCIOUS FEISTY FIERY FASHIONABLE. THE STARTUP CUB RARING TO ROAR AND RUMBLE.
      TO TELL THE WORLD FINE TASTE IS FOR THE MATURE BUT CRAFT IS FOR THE YOUNG TURK WHO KNOWS LIFE
      IS AN EVER CHANGING GAME HERE’S TO THE FIRST WHIFF AND TO THE FIRST SWIG OF CHANGE. </p>
  </div>
  <div class="col" style="position: relative;margin-top: 15%;">
    <a [routerLink]="['/home/high-stakes']" routerLinkActive="router-link-active">
      <div class="col">
        <img src="./../../../assets/Images-02.png" alt="high stakes" class=""
          style="width: 100%; height: auto;">
        <div class="col p-0 d-flex fs-position">
          <div class="fs-blank-width"></div>
          <div class="col-3 d-flex p-0 animation-element" style="position: relative;">
            <div class="col p-0 wrapper">
              <img src="./../../../assets/letters/h.png" alt="high-stakes" class="slide-now"
                style="width: 100%; height: 100%;">
            </div>
            <div class="col-2 p-0 text-center wrapper">
              <img src="./../../../assets/letters/i.png" alt="high-stakes" class="slide-now3"
                style="width: 71%;height: 100%;">
            </div>
            <div class="col p-0 wrapper">
              <img src="./../../../assets/letters/g.png" alt="high-stakes" class="slide-now"
                style="width: 100%; height: 100%;">
            </div>
            <div class="col p-0 wrapper">
              <img src="./../../../assets/letters/h.png" alt="high-stakes" class="slide-now1"
                style="width: 100%; height: 100%;">
            </div>
          </div>
          <div style="width: 18%;"></div>
          <div class="col-5 d-flex p-0 animation-element" style="position: relative;">
            <div class="col p-0 wrapper">
              <img src="./../../../assets/letters/s.png" alt="high-stakes" class="slide-now"
                style="width: 100%; height: 100%;">
            </div>
            <div class="col p-0 wrapper">
              <img src="./../../../assets/letters/t.png" alt="high-stakes" class="slide-now3"
                style="width: 100%;height: 100%;">
            </div>
            <div class="col p-0 wrapper">
              <img src="./../../../assets/letters/a.png" alt="high-stakes" class="slide-now2"
                style="width: 100%; height: 100%;">
            </div>
            <div class="col p-0 wrapper">
              <img src="./../../../assets/letters/k.png" alt="high-stakes" class="slide-now"
                style="width: 100%; height: 100%;">
            </div>
            <div class="col p-0 wrapper">
              <img src="./../../../assets/letters/e.png" alt="high-stakes" class="slide-now2"
                style="width: 100%; height: 100%;">
            </div>
            <div class="col p-0 wrapper">
              <img src="./../../../assets/letters/s.png" alt="high-stakes" class="slide-now1"
                style="width: 100%; height: 100%;">
            </div>
          </div>
        </div>
        <img
          src="https://res.cloudinary.com/skg-projects/image/upload/v1601718698/High_Stakes_bottle_wdzr3g.png"
          alt="high-stakes" class="high-stakes-bottle">
        <div class="col-4 hs-text-pos">
          <p class="hs-font">
            OUR HAND CRAFTED UNIQUE BLEND OF SCOTCH AND MALTS IS A COMING OF AGE STORYA COLOSSAL
            SPIRIT
            IN ITS TRUE SENSE FROMTHE DEPTH AND INTENSITY OF AGED OAK CAPTURING THE SUBTLE
            SWEETNESS
            OF
            HONEY GOLD EACH BOTTLE IS INTRICATELY CRAFTED REFLECTING THE UNCOMPROMISING ATTENTION TO
            DETAILS THIS FINE WHISKY DEMANDS
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col" style="position: relative;margin-top: 15%;">
    <a [routerLink]="['/home/off-limits']" routerLinkActive="router-link-active">
      <div class="col">
        <img src="./../../../assets/Images-03.png" alt="off-limits" class="bcknwhite"
          style="width: 100%; height: auto;">
        <div class="col p-0 d-flex  fs-position">
          <div
            style="background-color: #0a0b0b;position: relative;width: 100%;flex: 0 0 6.333333%;max-width: 6.333333%;">
          </div>
          <div class="col-4 d-flex p-0 animation-element1" style="position: relative;">
            <div class="col-6 p-0 wrapper">
              <img src="./../../../assets/letters/f-o.png" alt="high-stakes" class="slideNow"
                style="width: 100%; height: auto;">
            </div>
            <div class="col-3 p-0  wrapper ol-f-ht">
              <img src="./../../../assets/letters/f-f.png" alt="high-stakes" class="slideNow3"
                style="width: auto;height: 100%;">
            </div>
            <div class="col-3 p-0 wrapper ol-f-ht">
              <img src="./../../../assets/letters/f-f.png" alt="high-stakes" class="slideNow"
                style="width: auto; height: 100%;">
            </div>
          </div>
          <div
            style="background-color: #0a0b0b;position: relative;width: 100%;flex: 0 0 11.333333%;max-width:11.333333%;">
          </div>
          <div class="col-5 d-flex animation-element1" style="position: relative;">
            <div class="p-0 wrapper" style="width: 16.6666%;">
              <img src="./../../../assets/letters/f-l.png" alt="high-stakes" class="slideNow"
                style="width: 100%; height: 100%;">
            </div>
            <div class=" p-0 wrapper text-center" style="width: 10.6666%;">
              <img src="./../../../assets/letters/f-i.png" alt="high-stakes" class="slideNow3"
                style="width: 100%;height: 100%;">
            </div>
            <div class=" p-0 wrapper" style="width: 16.6666%;">
              <img src="./../../../assets/letters/f-m.png" alt="high-stakes" class="slideNow2"
                style="width: 100%; height: 100%;">
            </div>
            <div class=" p-0 wrapper text-center" style="width: 10.6666%;">
              <img src="./../../../assets/letters/f-i.png" alt="high-stakes" class="slideNow3"
                style="width: 100%;height: 100%;">
            </div>
            <div class=" p-0 wrapper" style="width: 18.6666%;">
              <img src="./../../../assets/letters/f-t.png" alt="high-stakes" class="slideNow2"
                style="width: 100%; height: auto;">
            </div>
            <div class=" p-0 wrapper" style="width: 24.6666%;">
              <img src="./../../../assets/letters/f-s.png" alt="high-stakes" class="slideNow1"
                style="width: 100%; height: auto;">
            </div>
          </div>
        </div>
        <img
          src="https://res.cloudinary.com/skg-projects/image/upload/v1601718699/Off_limits_bottle_vuzprt.png"
          alt="offlimits" class="fs-bottle">
        <div class="col-4 fs-text-pos">
          <p class="fs-font">
            OFF LIMITS IS A WORK OF CRAFT MADEBY HANDPICKED GRAINS FERMENTED, BLENDED AND
            DISTINCTIVELY
            DISTILLED. PRODUCING CRYSTAL CLEAR DROP OF THE DELICATE SPIRIT EARTHY AND SLIGHTLY
            TOASTY
            EVERY SIP OF THIS DRINK WILL MAKE YOU BELIEVE IN THE SPIRIT OF HOPE, AUDACITY
            EXPLORATION
            AND LIVING.
          </p>
        </div>
      </div>

    </a>
  </div>
</div>

<div class="container-fluid p-0 container2">
  <div class="container-fluid p-0 gradient2">
  </div>
  <div class="col p-0" style="position: relative;">
    <a [routerLink]="['/home/feline-conservation']" routerLinkActive="router-link-active">
      <img src="https://res.cloudinary.com/skg-projects/image/upload/v1601754933/Tiger_upk2o9.png"
        alt="offlimits" class="fc-img">
      <div class="col d-flex p-0">
        <div class="col-5"></div>
        <div class="col-md-6 fc-container">
          <p class="fc-head">
            FELINE<br>
            CONSERVATION</p>
          <p class="fc-font"><i>THE FELINE STALKS ON SILENT PAWS, WITH DEADLY
              ARMOUR OF FANGS AND CLAWS. WITH RUSH OF
              HUNGER AND LIGHTENING SPEED,<br><br>
              HE'LL FIND A VICTIM ON WHICH TO FEED. THE LAW OF
              THE JUNGLE IS THAT IT DOESN’T FORGIVE<br><br>
              T’WAS YESTERDAY, AND NOW THE FELINE YEARNS,
              TO COEXIST SO THAT BOTH MAY LIVE. </i>
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col p-0 craft-bg">
    <a [routerLink]="['/home/craft']" routerLinkActive="router-link-active">
      <div class="overlay">
      </div>
      <div class="container-fluid d-flex">
        <div class="col-1 d-md-block d-none"></div>
        <div class="col-md-10 col d-md-flex d-block">
          <div class="col-md-9 col" style="padding-top: 10%;">
            <p class="craft-head">
              CRAFT</p>
          </div>
          <div class="col d-flex craft-text-pos">
            <div class="col-md-4 d-md-block d-none"></div>
            <div class="col-md-7 col">
              <p class="craft-font"><i>
                  CRAFT CAN’T BE MADE. IT CAN BE BROUGHT TO ITS
                  TRUEST FORM, IN SMALL BATCHES. HANDCRAFTING
                  IT TO PERFECTION, PUTTING IN HERCULEAN EFFORT.
                  A REMARKABLE EXPERIENCE FOR THE MILLENIAL TO
                  LEARN ABOUT PATIENCE, RESOLUTE, EFFICACY AND
                  IMAGINATION</i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="container-fluid d-md-flex " style="margin-top: 10%;">
    <div class="col-1 d-md-block d-none"></div>
    <div class="col-md-10 col">
      <div class="col d-flex ht2">
        <a class="col p-0" [routerLink]="['/home/surrogates']"
          routerLinkActive="router-link-active">
          <img
            src="https://res.cloudinary.com/skg-projects/image/upload/v1601754940/Suroggates_bjk1hb.png"
            style="width: 50%;position: absolute;">
          <div class="col d-flex">
            <div class="col-6"></div>
            <div class="col-6">
              <p class="surrogates">
                PERFECT<br>
                MATCH<br></p>
              <p class="surrogates2">BOTTLED, CARBONATED SODA TASTES
                REFRESHES YOUR SENSES WITH THE
                BRILLIANCE OF EQUANIMITY.TONIC WATER,
                A BLEND OF PURITY WITH SPRING WATER,
                WILL UPLIFT THE FINE TASTE OF YOUR DRINK
                WITH ZING AND BALANCE. MAKING YOUR
                EXPERIENCE NOTHING SHORT OF AN EPIC.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col d-flex ht2">
        <a class="col p-0" [routerLink]="['/home/ACCESSORIES']"
          routerLinkActive="router-link-active">
          <img
            src="https://res.cloudinary.com/skg-projects/image/upload/v1601754934/Merchandise_hgjuf7.png"
            style="width: 50%;position: absolute; right: 0;">
          <div class="col d-flex p-0">
            <!-- <div class="col-6"></div> -->
            <div class="col-6">
              <p class="cocktails">
                ACCESSORIES<br></p>
              <p class="cocktails2"><i>A MELANGE OF POWER,
                  ADROITNESS AND THE
                  IRREPRESSIBLE DESIRE TO LIVE
                  LIFE IN THE FAST LANE. THE BAR
                  ACCESORIES WILL ACCENTUATE
                  YOUR ATTITUDE WITH DEFT
                  FLASHES OF INTRIGUING DESIGN
                  AND FORM.</i></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="col p-0 d-flex" style="position: relative;">
  <div class="col-1"></div>
  <div class="col-10 p-0">
    <img
      src="https://res.cloudinary.com/skg-projects/image/upload/v1601754929/High_Stakes_fmdxcw.png"
      alt="high-stakes" style="width: 100%; height: auto;">
  </div>
</div> -->
<app-footer></app-footer>
