<div class="container-fluid p-0"
  style="background-image: url('https://res.cloudinary.com/skg-projects/image/upload/v1601754934/Merchandise_hgjuf7.png');height: 100vh;background-repeat: no-repeat;background-size: cover;background-position: center;">
  <div class="col content-pos">
    <p class="font-1">
      Our bar accessories reflect our motto that’s true to our name– everything we do is driven by
      risk taking. If we don’t take risks, we won’t be able to take a leap. And to leap, you, dear
      youngsters, got to take that leap of faith. Yes, it works just this way!
      <br><br>
      From tongs to ice buckets, from flasks to glasses, from shakers to bottle openers, our array
      of products display an emblem of spontaneity. They are meant for those who choose to take the
      first lead, not be followers, but as the leader of pack can take off a moment’s notice. Guided
      by gut, thirst and the indefatigable punch to face the world with head held high. </p>
  </div>
</div>
