.content-pos {
  position: absolute;
  top: 30%;
  padding: 0px 150px;
}
.font-1 {
  font-weight: 100;
  letter-spacing: 1.6px;
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 2px 12px black;
}
.font-2 {
  font-size: 36px;
  line-height: 1;
  color: #dbcdae;
  letter-spacing: 1.3px;
}
.hs-vutton {
  font-weight: 100;
  letter-spacing: 1.6px;
  font-size: 14px;
  color: #dbcdae;
  background-color: #000;
  border: solid 1px #dbcdae;
  padding: 5px 20px;
}

.hs-vutton:hover {
  font-weight: 100;
  letter-spacing: 1.6px;
  font-size: 14px;
  color: #000;
  background-color: #dbcdae;
  border: solid 1px #dbcdae;
  padding: 5px 20px;
  transition: 0.3s;
}
@media (max-width: 991px) {
  .content-pos {
    position: absolute;
    top: 20%;
    padding: 0px 20px;
  }
  .font-1 {
    font-weight: 100;
    letter-spacing: 1.6px;
    font-size: 14px;
    text-shadow: 2px 2px 12px black;
    text-align: center;
  }
  .font-2 {
    font-size: 14px;
    line-height: 1;
    color: #dbcdae;
    letter-spacing: 1.3px;
    margin-bottom: 5px;
  }
  .hs-vutton {
    font-weight: 100;
    letter-spacing: 1.6px;
    font-size: 8px;
    color: #dbcdae;
    background-color: #000;
    border: solid 1px #dbcdae;
    padding: 5px 20px;
  }

  .hs-vutton:hover {
    font-weight: 100;
    letter-spacing: 1.6px;
    font-size: 8px;
    color: #000;
    background-color: #dbcdae;
    border: solid 1px #dbcdae;
    padding: 5px 20px;
    transition: 0.3s;
  }
}
