<div class="container-fluid p-0"
  style="background-image: url('https://res.cloudinary.com/skg-projects/image/upload/v1601754939/FCC_igidyz.png');height: 100vh;background-repeat: no-repeat;background-size: cover;background-position: center;">
  <div class="col content-pos">
    <p class="font-1">
      The night was younger. Two youngsters bumped into each other. <br><br>

      Bonded by bass, treble and drop. The EDM that would never stop. <br><br>

      The 2 young boys rambled, they shared ideas and in the end, they hit the chord right up there.
      An idea bumbled, a dream brewed. Driven by innovation. Fuelled with perfection. Partnering as
      one, to give the millennial - a taste of craft. A lifestyle that comes only with a repeat
      button.</p>
  </div>
</div>
