<div class="container-fluid p-0"
  style="background-image: url('https://res.cloudinary.com/skg-projects/image/upload/v1601754939/FCC_igidyz.png');height: 100vh;background-repeat: no-repeat;background-size: cover;background-position: center;">
  <div class="col content-pos">
    <p class="font-1">
      With climate changes wreaking havoc on Mother Nature, big cats have reached a point when they
      will have to adjust to changes in their habitat. As human populations grow, preying upon cats
      is increasing, which is resulting into them losing habitat, every passing day. The conflict
      between humans and big cats now seems to be as the ultimate inevitability. <br><br>
      At Feline Spirits, we have undertaken the daunting task of conserving this extraordinary
      family of tigers, lions, leopards and all the other members. Our mission is to roll-out a well
      informed ecological intervention that will further foster the coexistence of both communities
      – with seamless thriving of human livelihood, and free movement of the feline community. In
      the end, what we are looking at is: the conservation of the entire ecosystem with exuberance
      and a sense of responsibility. </p>
  </div>
</div>
