<div class="container-fluid p-0"
  style="background-image: url('../../../assets/Suroggates.png');height: 100vh;background-repeat: no-repeat;background-size: cover;background-position: center;">
  <div class="col content-pos">
    <p class="font-1">
      The sound of the bubbles and the effervescence make our soda a truly remarkable one. You can
      add as many ingredients to the drink as you’d like, so you can balance it with your own taste
      buds, depending on how you prefer. <br><br>

      The fresh canned tonic water is ecstatically smooth and light on the palate. The perfect
      balance of sweet notes and piquancy makes it the perfect companion to your vodka and a
      sophisticated drink by itself. Time to raise a toast, eh!<br><br>

      At Feline Spirits, we strongly feel that every time you sit down and have your drink, you
      should be able to drown yourself in the path of being an effortlessly smooth hero and chart
      the uncharted territories with sheer ease and dexterity. </p>
  </div>
</div>
