<div class="container-fluid" style="background-color: #070606;;">
  <div class="col p-0">
    <div class="col-6" style="height: 100vh;">
      <img src="../../../assets/High Stakes.png" alt="" style="width: auto;height: 100%;">
    </div>

    <div class="col content-pos">
      <div class="col">
        <p class="font-1">
          High Stakes was chosen out of more than 100 blends by the finest connoisseur of 2020. Each
          bottle
          of High stakes is intricately crafted with a sense of timelessness and élan. </p>
        <p class="font-2"> <b>Tasting</b> is the key </p>


        <p class="font-1">Tasting is the key to this delightful conundrum, and here
          we’ll take you through a delectable journey that will
          goad your senses into fully appreciating High Stakes. High Stakes is a drink, to be
          enjoyed, the way you like
          it. Now that makes us a first among the equals.</p>
        <!-- <button class="hs-vutton" *ngIf="!readm" (click)="readm = !readm">Read More</button> -->
        <p class="font-1"> Tasting is the key to this delightful conundrum, and here
          we’ll take you
          through a
          delectable journey that will goad your senses into fully appreciating High Stakes. High
          Stakes is a drink, to be enjoyed, the way you like it. Now that makes us a first among the
          equals.</p>


        <p class="font-1"><b><i>NOSE</i></b>- Fruity, malty, oak and honeyed with hint
          of
          sherry and vanilla<br>
          <b><i>OVERALL</i></b>- A medium bodied, medium sweet, with fruity, floral, honey and malty
          notes.<br>
          <b><i>TASTE</i></b>- Firm and mellow with fruity, honey and malty notes that give a floral
          finish
        </p>

        <p class="font-1">High Stakes, is the better of the two worlds that roar and
          rumble between feistiness and panache.
          The elixir of becoming <span class="font-3"><i>Daringly Responsible.</i></span> </p>
        <!-- <button class="hs-vutton" (click)="readm = !readm">Read Less</button> -->
      </div>
    </div>
  </div>
</div>